<template lang="">
    <div class="company-list-item">
        <div class="company-logo">
            <div class="logo"></div>
        </div>
        <div class="company-info">
            <div class="company-name">
                <b>{{jobs.name}}</b>
            </div>
            <div class="company-location-list">
                <div class="company-location-list-item">
                    <p>Company:</p>
                    <p class="orange">{{jobs.company}}</p>
                </div>
                <div class=company-location-list-item>
                    <p>Location:</p>
                    <p class="orange">{{jobs.location.country}}, {{jobs.location.city}}</p>
                </div>
            </div>
            <div class="statistic-list">
                <div class="statistic-list-item">
                    <img src="../assets/clock.svg"/>
                    <p>Posted {{jobs.postedDaysAgo}} days ago </p>
                </div>
                <div class="statistic-list-item">
                    <img src="../assets/eye.svg"/>
                    <p>{{jobs.views}} Views</p>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        jobs: []
    }
}
</script>
<style>
    .company-list-item {
        display: flex;
        flex-direction: row;
        height: 138px;
        margin-top: 16px;
        padding: 16px;
        background: #FFFFFF;
        box-shadow: 0px 4px 8px rgba(33, 33, 33, 0.16);
        border-radius: 8px;
    }

    .company-info {
        text-align: start;
        width: 100%;
        font-size: 12px;
        line-height: 14px;
        bottom: 0;
    }

    .company-location-list {
        margin-top: 14px;
    }

    .logo {
        border-radius: 35px;
        width: 40px;
        height: 40px;
        margin-right: 16px;
        background: #636363;

    }

    .company-location-list-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 30px;
    }
    
    .statistic-list {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .orange {
        text-decoration-line: underline;
        color: #E06D06;
    }

    .statistic-list-item {
        display: flex;
        flex-direction: row;
    }

    img {
        margin-right: 3px;
    }
</style>