<template lang="">
    <div>
        <div class="title">
            <h3 class="yellow">job</h3><p class="italic">Agent</p>
        </div>
        <div class="filter">
            <label>JOB SEARCH:</label>
            <div class="search">
                <input type="text" v-model="search" placeholder=" Search"/>
            </div>
            <div class="sort">
                <p>Sort by:</p>
                <div class="select">
                    <p>Views</p>
                    <select class="sort-filter" v-model="sorting">
                        <option value="ASC">Views (Min. - Max.)</option>
                        <option value="DESC">Views (Max. - Min.)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="content-list" v-for="item in filteredList" :key="item.name">
                <Card :jobs="item"/>
            </div>
        </div>
    </div>
</template>
<script>
import jobsMock from '../shared/jobs-mock.json';
import Card from './Card.vue';

export default {
    name: 'item-list',  
    components: {
        Card
    },
    data() {
        return {
            search: '',
            sorting: null,
            jobList: [],
        }
    },
    mounted() {
        this.jobList = jobsMock.jobs;
    },
    computed: {
        filteredList() {
            let sortedItems = this.jobList;
            
            if (this.search != '' && this.search) {
                return this.jobList.filter(item => {
                    return item.name.toLowerCase().includes(this.search.toLowerCase())
                })
            }
            
            if (this.sorting === 'ASC') {
                sortedItems.sort((a, b) => {
                    return a.views - b.views;
                })
            }

            if (this.sorting === 'DESC') {
                sortedItems.sort((a, b) => {
                    return b.views - a.views;
                })
            }
            return sortedItems;
        }
    },
}
</script>
<style>
    .filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .italic {
        font-style: italic;
        font-size: 20px;
    }

    .yellow {
        color: #EEAB02;
        font-size: 20px;
    }

    .search {
        display: flex;
        flex-direction: column;
        margin-top: 15px;
    }

    .sort {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .select {
        display: flex;
        justify-content: row;
    }

    label {
        text-align: start;
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
    }

    input {
        height: 40px;
        background: #EAEAEA;
        border: 1px solid #EAEAEA;
        border-radius: 8px;
    }

    select {
        width: 15px;
        height: 15px;
        margin-top: 17px;
        margin-left: 5px;
        border: 0 !important;
        background: #fff;
    }
</style>